.catalog-container {
  position: absolute;
  width: 90vw;
  max-height: 90vh;
  /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
  /* Añade una barra de desplazamiento vertical si es necesario */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border-radius: 10px;

  background: rgba(233, 233, 233, 0.82);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.2px);
  -webkit-backdrop-filter: blur(2.2px);
}

/* Estilos para el input deshabilitado */
input:disabled {
  background-color: #f4f4f4;
  color: #999;
  cursor: not-allowed;
}

/* Estilos para el botón deshabilitado */
button:disabled {
  background-color: #f4f4f4;
  color: #999;
  cursor: not-allowed;
}


@media screen and (max-width: 768px) {
  .catalog-container {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.1px);
    -webkit-backdrop-filter: blur(3.1px);
    border: 1px solid rgba(255, 255, 255, 1);
  }
}